@tailwind base;
@tailwind components;
@tailwind utilities;


/* Hide vertical scrollbar */
::-webkit-scrollbar {
  width: 0;
}

/* Hide horizontal scrollbar */
::-webkit-scrollbar {
  height: 0;
}

#__nuxt,
#__layout,
body,
html {
  height: auto;
  min-height: 100vh !important;
  /* background: #f3f3f7; */
  /* background: black; */
  background: #131211;
  /* background: #0278d9; */
  color: white; 
  font-family: Roboto, sans-serif;
  /* color:  #131211;  */
  /* background: black;
  color: white; */
  /* overflow: hidden; */
  overflow-x: hidden;
  /* cursor: crosshair; */
   cursor: default;
  /* cursor: url('/CURSOR.svg'), auto !important; */
}

.seated-event-link .seated-event-link1{
  color: #ffffff;
  border: 2px solid #ffffff;
  background: #381dbf;
}

.homeimgsize img {
 /* scale: .3; */
}


.padsee{
  padding: 1.25rem  !important;
}

.linktext{
  display: flex;
    justify-content: center;
    /* color: white; */
}


.backc {
  z-index: 0 !important;
  position: relative;
  text-transform: uppercase;
  position: absolute;
    /* top: 5vh; */
    padding-top: 14rem;
}

.bcbtn{
  top: 22vh;
    left: -3.3vw;
    position: relative;

    top: 2.5vh;
    font-size: large;
    text-transform: uppercase;
}


.bcbtn2{
  top: 22vh;
    left: -3.3vw;
    position: relative;

    top: 5.5vh;
    font-size: large;
    text-transform: uppercase;
}

/* .contactinner p a{
  border: 1px solid white;
  padding: .5rem;
} */ 

header{
  z-index: 99999;
  background-color: none;
}


.borderset {
  /* border: 1.5px solid #fff; */
  border: 1.5px solid #371cbf;
  /* border: 1.5px solid black; */
  color: #371cbf;
  padding: .5rem;
  transition: color 0.5s ease, background-color 0.5s ease;
}

.borderset:hover {
  background-color:black;
  background-color: rgb(55, 28, 191);
  border: 1.5px solid #131211;
  /* color: white; */
  color: #131211;
  transition: color 0.5s ease, background-color 0.5s ease;
}

.abouttextdesk div{
  width: 30vw;
  /* height: 50vh; */
  overflow: scroll;
}

.mbpoems{
  width: 30vw;
  /* height: 50vh; */
  overflow: scroll;
}


.menustuff{
  height: 100vh;
    background-color: #f7f6fb;
    background-color: hsl(249.94deg 74.43% 42.94%);
}

.centerdiv{
  display: flex;
    justify-content: center;
}

.capplace{
  padding-top: .5rem;
  display: flex;
  justify-content: center;
  /* justify-content: end; */
  color: hsl(249.94deg 74.43% 42.94%);
  width: inherit;
  font-size: 3rem !important;
}

.capplaces{
  /* padding-top: .5rem; */
  display: flex;
  justify-content: center;
  width: inherit;
  font-size: 1.5rem !important;
}

.pepcol{
  color: hsl(249.94deg 74.43% 42.94%);
}

.figsize{
  display: flex;
  justify-content: center;
}


.blurbg{
  background-repeat: no-repeat;
  background-image: radial-gradient(circle at center, rgb(255, 255, 255) 0%, rgb(55, 28, 191) 30%, rgba(255, 255, 255, 0.833) 100%);
  background-image: radial-gradient(circle at center, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 30%, rgba(255, 255, 255, 0.833) 100%);
  z-index: 9998; /* Ensure it's behind the enlarged item */
  transition: opacity 0.3s ease; /* Add a smooth transition effect */
  filter: blur(20px);
  opacity: .5;
  pointer-events: none;
}


.blurfilter{
  /* filter: blur(20px); */
  filter: blur(20px);
  opacity: .5;
} 

.background-overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 60vw;
  height: 70vh;
  filter: blur(70px);
  transform: translate(-50%, -50%);
  /* background-color: rgb(255, 255, 255); */
  /* background-color: hsl(249.94deg 74.43% 42.94%); */
  background-repeat: no-repeat;
  /* background-image: radial-gradient(circle at center, rgb(255, 255, 255) 0%, rgb(55, 28, 191) 30%, rgba(255, 255, 255, 0.833) 100%);
  background-image: radial-gradient(circle at center, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 30%, rgba(255, 255, 255, 0.833) 100%); */
  /* opacity: .9; */
  z-index: 9998; /* Ensure it's behind the enlarged item */
  transition: opacity 0.3s ease; /* Add a smooth transition effect */
  pointer-events: none; /* Allow interactions with the underlying content */
}

a{
  /* cursor: url('/CURSOR.svg'), auto !important; */
}





/* button{
  cursor: url('/CURSOR.svg'), auto !important;
}

figcaption{
  cursor: url('/CURSOR.svg'), auto !important;
} */

svg{
  /* cursor: url('/CURSOR.svg'), auto !important; */
}



@media (min-width: 768px) {
  .pr-6 {
    padding-right: 0rem !important;
  }
  pr-6 {
    padding-right: 0rem;
}
}

.content-container {
  transition: transform 0.5s ease; /* Add smooth transition for content movement */
}

.blurry-image {
  filter: blur(5px); /* Adjust the blur amount as needed */
}

.resize-animation {
  transition: width 0.3s ease-in-out, height 0.3s ease-in-out !important;
}
/* html.lenis {
  height: auto;
}


.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
} */

/* Remove default styles for elements with tabindex */
[tabindex] {
  outline: none;
  border: none;
}

/* Optionally add your own styles for focus state if needed */
[tabindex]:focus {
  outline: none;
}


@media (max-width: 768px) {

  .bcbtn2 {
    right: 2vw;
    position: absolute;
    top: 2vw;
    left: 0;
    /* width: 5vw; */
    line-height: normal;
    font-size: large;
    text-transform: uppercase;
}


  .mbcopyr{
    padding-bottom: 11vh
}

.mbtextslug {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.copyr{
  width: 40vw !important;
}

.abouttextdesk div{
  width: 90vw !important;
  /* height: 100vh; */
}

.mbpoems div{
  width: 90vw !important;
  /* height: 100vh; */
}

.blurfilter{
    filter: blur(0px);
    opacity: 1;
}
}

 {
  /* .md\:overflow-hidden {
    overflow: hidden;
    overflow: scroll !important;
} */
    /* overflow: scroll !important;
    min-height: 100vh !important; */
    /* pr-6 {
    padding-right: 0rem;
} */
}




